.button{
    padding:10px 20px;
    display:inline-block;

}

.button:link,
.button:visited,
.button:hover,
.button:focus,
.button:active {
    text-decoration:none;
}


.button:after{
content:"\e080";
font-family:'Glyphicons Halflings';
position:relative;
top:2px;
left:5px;}

.hover .button{
    
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.button.wht{
    background-color:#fff;
}

.button.fgreen{
    color:darken($brand-two,5%);
}