// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

.dd-sheet{
    height:100%;
    width:100%;
    display:fixed;
    z-index:1;
}

.wrapper-dropdown {
    /* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    min-width: 220px;
    padding: 10px;
    /* Styles */
    background: #9bc7de;
    color: #fff;
    outline: none;
    cursor: pointer;
    display:inline-block;
    float:left;

    /* Font settings */
    font-weight: bold;
    margin: 0px 10px;
} 

.dropdown li.active:before{
   content:  "\e013";
   font-family: Glyphicons Halflings;
    left: 7px;
    position: absolute;
    color:$brand-two;
    top:4px;
}


.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;    
}

.wrapper-dropdown .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0; /* Size */
    right: 0; /* Size */

    /* Styles */
    background: #fff;
    font-weight: normal; /* Overwrites previous font-weight: bold; */

    list-style:none;
    /* Hiding */
    opacity: 0;
    pointer-events: none;
    padding-left:0px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.wrapper-dropdown .dropdown input{
    display:none;
}

.wrapper-dropdown .dropdown li {
    display: block;
    text-decoration: none;
    color: #0c4d72;
    padding: 5px 5px 5px 25px;
    position:relative;
}

/* Hover state */
.wrapper-dropdown .dropdown li:hover {
    background-color: #dbe9f0;
}

.wrapper-dropdown .dropdown{z-index:2;}

/* Active state */
.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    list-style:none;
    color:#333;
}

.wrapper-dropdown.active:after {
    border-color: #9bc7de transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}

.wrapper-dropdown.active {
  background: #9bc7de;
  background: linear-gradient(to right, #9bc7de 0%, #9bc7de 78%, #ffffff 78%, #ffffff 100%);
}   



/*Apply Button*/

.hs_apply_button{
font-size:130% !important;
font-family: Open Sans,sans-serif !important;
background-color:$brand-one !important;
}

.hs_apply_button:hover{
background-color:lighten($brand-one,10%) !important;
}

.btn.submit{
    
background-color:$brand-one !important;
}

.btn.submit:hover{
    
background-color:lighten($brand-one,10%) !important;
}