


.jobpost{
    background-color:#fff;
    padding:10px;
}

.jobpost_wrapper{

    padding:0px 15px 15px 15px;
    display:block; 

}

.classifications{

    display:table;
    padding-bottom:2px;
    width:100%;
}

.jobclass{
    display: table;
    width:100%;
}

.jobclass_type{
color:#23527c;


}

.classifications .jobclass_type,
.classifications .jobvalue{
    width:40%;
    display:table-cell;
}

.jobpost_wrapper p{

    padding:5px;
    font-size:110%;
}
.job_list_read_more,
.job_list_read_more:hover{
    width:100%;
    padding:10px 20px;
    text-align:center;
    display:block;
    background-color:#5e2580;
    color:#fff;
}

.jobpost_nav{

    padding:10px 0px 0px;
}

.jobs_list .jobpost_wrapper{
    height:auto; 

}


.link_primarycolour,
.link_primarycolour:hover{
    width:100%;
    padding:10px 20px;
    text-align:center;
    display:block;
    background-color:#8a71b8;
    color:#fff;
} 


.jobpost_wrapper h2{
    margin:0px;
font-weight:600;
padding-bottom:10px;}

.jobpost_wrapper:hover{
    text-decoration:none

}


 .hover .jobpost{ box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}

.jobs_list{padding-top:20px;
min-height:400px;}

.page-header .search-h1{
    margin-left:0px;
    padding-left:0px;
    padding-bottom:20px;}

