*, ::before, :after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#menu p,
#menu a,
.menu-image{
webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition:         all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);

}

body {
  padding:0;
  margin:0;
  font-family: Helvetica,Arial,sans-serif;
}

#menu {
  overflow: hidden;  
  position:fixed;
  height:100%;
  width:100%;
}
#menu>* {
    display: block; 
  overflow: hidden;
}

#menu{
  z-index:50;
  height:0px;
    -webkit-transition: height 900ms;
  -moz-transition: height 900ms;
  -ms-transition: height 900ms;
  -o-transition: height 900ms;
  transition: height 900ms;
}




#menu.open{height:100%;}

.menu-final .menu-toggle{ 
    font-size:30px;
    top: 0px;
    right: 0px;
    position: absolute;
    display: inline-block;
    line-height:normal;
    padding:10px;
    color:#fff;
    cursor:pointer;
  }


.menu-item {
  width:25%;
  display:block;
  overflow:hidden;
  position: absolute;
  float:left;
  height:0%;
  -webkit-transition: height 300ms;
  -moz-transition: height 300ms;
  -ms-transition: height 300ms;
  -o-transition: height 300ms;
  transition: height 300ms;
  z-index:50;
}

.menu-item *{opacity:0;}
.menu-item.active *{opacity:1;}

.menu-item.active {
  height:100%;
}

h1 {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.menu-item h1{
  color:#ffffff;
  width: 260px;
  text-transform: uppercase;
  text-align: center;
  left: 50%;
  margin:0 auto;
  height:150px;
  padding-top:40px;
  font-size:2em;
}


#menu>div:first-child {
  z-index: 50

}




.menu-horizontal.menu-container .menu-item {
   height:0;
  -webkit-transition: height 110ms;
     -moz-transition: height 110ms;
      -ms-transition: height 110ms;
       -o-transition: height 110ms;
          transition: height 110ms;
}
.menu-horizontal.menu-container .menu-item.active {
  height:250px;
}

  @media screen and (max-width: 768px) {
  #menu {
    height: auto;
  }
  .menu-item {
    width: 100%;
    float: none;
    position:relative;
  }

  .menu-horizontal.menu-item.active {
     height: 250px;
  }
}
/* -------------------------------- 

Menu trigger

-------------------------------- */
.cd-nav-trigger {
  position: absolute;
  z-index: 9999;
  top: 24px;
  right: 5%;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}

.cd-nav-trigger .cd-icon,
.cd-nav-trigger .cd-icon::before,
.cd-nav-trigger .cd-icon::after {
  /* menu icon created in CSS */
  position: absolute;
  background-color: #ffffff;
  border-radius: 2px;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-touch .cd-nav-trigger:hover {
  background-color: black;
}
.cd-nav-trigger .cd-icon {
  /* middle line of the menu icon */
  display: inline-block;
  width: 18px;
  height: 2px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  -moz-transition: -moz-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}
.cd-nav-trigger .cd-icon::before, .cd-nav-trigger .cd-icon::after {
  /* upper and lower lines of the menu icon */
  content: '';
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-nav-trigger .cd-icon::before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger .cd-icon::after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.cd-nav-trigger.project-open .cd-icon {
  /* user selects a projects - transform the icon into a 'X' */
  background-color: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.project-open .cd-icon::before, .cd-nav-trigger.project-open .cd-icon::after {
  background-color: white;
}
.cd-nav-trigger.project-open .cd-icon::before {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.cd-nav-trigger.project-open .cd-icon::after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.cd-nav-trigger.nav-visible .cd-icon {
  /* user opens the navigation - transform the icon into an arrow */
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.cd-nav-trigger.nav-visible .cd-icon::after {
  -webkit-transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);
  -moz-transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);
  -ms-transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);
  -o-transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);
  transform: translateX(5px) translateY(3px) rotate(-45deg) scaleX(0.5);
}
.cd-nav-trigger.nav-visible .cd-icon::before {
  -webkit-transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);
  -moz-transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);
  -ms-transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);
  -o-transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);
  transform: translateX(5px) translateY(-3px) rotate(45deg) scaleX(0.5);
}

@media only screen and (min-width: 1024px) {
  .cd-nav-trigger.nav-visible .cd-icon {
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    transform: translateY(-50%) translateX(-50%) rotate(-90deg);
  }
  .cd-nav-trigger.nav-visible .cd-icon::after {
    -webkit-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    -moz-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    -ms-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    -o-transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
    transform: translateX(-5px) translateY(3px) rotate(45deg) scaleX(0.5);
  }
  .cd-nav-trigger.nav-visible .cd-icon::before {
    -webkit-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    -moz-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    -ms-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    -o-transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
    transform: translateX(-5px) translateY(-3px) rotate(-45deg) scaleX(0.5);
  }
}


.d-blue  {background-color:$brand-five;}
.red {background-color:#45cd9f;}
.blue {background-color:$brand-six;}
.green {background-color:$brand-three}
.yellow {background-color:#45cd9f;}  




/*Content*/

#menu p{

  color:#fff;
  font-size:150%;
  padding:50px;
  opacity:0;
}

#menu .menu-expanded p{
 -webkit-transition-delay: 0.5s; /* Safari */
  transition-delay: 0.5s;
  opacity:1;
}

#menu a{
    padding:10px 20px;
    background-color:none;
    color:#fff;
    margin:0 auto;
    width:180px;
    display:block;
    text-align:center;
    border:solid 2px #fff;

}

#menu .menu-expanded a{
 background-color:#fff;
 color:none;

}

#menu .d-blue.menu-expanded  a{color:$brand-five;}
#menu .green.menu-expanded a{color:$brand-three}
#menu .yellow.menu-expanded a{color:$brand-two;}

#menu li a{
    padding:0px 0px;
    background:none;
    color:#fff;
    display:block;
    border:none;
    text-align:left;
}

#menu .menu-expanded li a{

    background:none;
    color:#fff !important;
}





.menu-image{

  width:120px;
  height:120px;
  border:solid 3px #fff;
  margin:0 auto;
  border-radius:120px;
  background-size: 100%;
  background-position: -0px 10px;
  background-repeat: no-repeat;
}


.fe{
  background-image:url("../images/female1.svg");
}
.fe2{
  background-image:url("../images/female2.svg"); 
  background-position: -4px 10px;
}
.m1{
  background-image:url("../images/male1.svg");
}

#menu .menu-expanded .m1{
  background-image:url("../images/chun.png");  
  background-position: -0px 0px;
  background-size:110%;
  border:solid 5px #fff;


}

#menu .menu-expanded .fe2{
  background-image:url("../images/fe2real.jpg");  
  background-position: -0px 0px;
  background-size:110%;
  border:solid 5px #fff;


}

#menu .menu-expanded .fe{
  background-image:url("../images/karen.png");  
  background-position: -0px 0px;
  background-size:110%;
  border:solid 5px #fff;


}



.menu-content{
  height:40%;
  min-height:200px;
}

#menu ul{
  list-style:none;
  display:block;

}


#menu li{
  color:#fff;
  font-size:140%;
  padding-bottom:20px;}