.box-sizer{
    width:25%;
        }

.box{   
    box-sizing:border-box; 
    width:100%;
    float:left;
    height:100%;
    margin:10px;
    position:relative;
    cursor:pointer;
 }

.box-outer{
    box-sizing:border-box; 
    width:25%;
    float:left;
    height:250px;

    padding:10px;
}


/*colours*/
.box{
    color:#fff;
    padding:10px 20px;
}

.box.social{
    padding:0px;
    padding-left:10px;
}



.box h3{
     font-size:170%;
    display: inline-block;
        font-weight:600;
    line-height: normal;   
}

.box p,
.box li{
    font-size:120%;
}

.box.color-one{
    
    background-color:$brand-one;
}
.box.color-two{
    
    background-color:$brand-two;
}
.box.color-three{
    
    background-color:$brand-three;
}

.box.color-four{
    
    background-color:$brand-four;
}

.box.color-six{
    
    background-color:$brand-six;
}

.box.color-five{
    
    background-color:$brand-five;
}


.box p{
    
    color:#fff;
}

/*Sizes*/

.box-outer.two-two{
    width:50%;
    height:500px;
}

.box-outer.one-four{
    width:100%;
    height:300px;
}

.box-outer.one-four .box{padding:0px;}


.box.big-text, .side-text{
    line-height:200px;
}

.box.big-text p,
.side-text p{
    font-size:170%;
    display: inline-block;
    vertical-align: middle;
    font-weight:600;
    line-height: normal;   
    margin-bottom:0px;
    padding:12px;
    padding-left:25px

}

/*Two one size box with images*/
.box-outer.two-one{
    width:50%;

}

.box-outer.two-one .image-box{
    float:left;
    height:100%;
    width:48%;
}

.box-outer.one-four .image-box{
    float:left;
    height:100%;
    width:100%;
}

.box-outer.two-one .side-text{
    float:left;
    width:50%;
}

/*================================*/
/*one one with image*/

.box-outer.one-one .image-box{
    float:left;
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
}


.box-outer.one-one .side-text{
    float:left;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
    text-shadow: 2px 2px 5px #000;
    padding-left:10px;
}




/*icons*/

.box.search:after {
    content: "\E003";
    font-family:'Glyphicons Halflings';
    font-size:30px;
    top: 0px;
    left: 11px;
    position: absolute;
    display: inline-block;
    line-height:normal;
    padding:12px;
}

.box.info:after {
    content: "\E086";
    font-family:'Glyphicons Halflings';
    font-size:30px;
    top: 0px;
    left: 11px;
    position: absolute;
    display: inline-block;
    line-height:normal;
    padding:12px;
}

.box.people:after {
    content: "\e171";
    font-family:'Glyphicons Halflings';
    font-size:30px;
    top: 0px;
    left: 11px;
    position: absolute;
    display: inline-block;
    line-height:normal;
    padding:12px;
}

/*================================*/
/* Anuimations*/

.box.hover{

      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    position:relative;
    top:-2px;
}

.hover.box.social{
    box-shadow:none;
}

/*Social media icons*/
.social-box{
width: 108px;
height: 108px;
float: left;
background-size: 102% 102%;
margin-right: 10px;
  margin: 5px 10px;
  position:relative;
  border-radius:15px;
  background-size: 102%;
background-position: -1px -1px;

}

.social-box:hover{
    position:relative;
    top:-3px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.social-box.youtube{background-image:url('../images/youtube.svg');}
.social-box.facebook{background-image:url('../images/facebook.svg');}
.social-box.twitter{background-image:url('../images/twitter.svg');} 
.social-box.google{background-image:url('../images/google.svg');}