
body#poolecvs-body{
    
    background-color:#ececec;  
 
} 

p,li,h1,h2,h3,h4,h5{
    font-family: Open Sans,sans-serif;
    }

.hs_classification{
    
    font-size:130%;
}    

.hs_job_classifications{
    padding-bottom:15px;
}

.no-pad{
    padding:0px !important;
}

p{
    color:$text;
    font-size:130%;
    padding-bottom:1em;
    }

*{
-webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  transition:         all 600ms cubic-bezier(0.23, 1, 0.32, 1);    
  }

.page-header svg {
  path {
    stroke: #fff;
    stroke-width: 0.5;
    stroke-dasharray: 106.1px;
    stroke-dashoffset: 106.1px;
    animation-name: draw;
    animation-duration: 4s;
    animation-fill-mode: forwards; // Stay on the last frame
    animation-iteration-count: 1; // Run only once
    animation-timing-function: ease-in-out;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.search-graphic{width:50%;padding:20px 40px;} 

a:hover{
    text-decoration: none;
}