// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-one:         #3c7fa6;
$brand-two:         #45cd9f; /*Green*/
$brand-three:       #eb5d85; /*Pink*/
$brand-four:        #BED9E4;
$brand-five:        #8a71b8; /*purple*/
$brand-six:         #00caff; /*bright blue*/
$text:              #6D6B6F;