.left-content-frame{
    width:50%;
    float:left;
    background-color:#fff;
    padding:30px 30px;
    margin-top:40px;
    z-index:2;
    position:relative;


}
.right-content-frame{
    width:51%;
    float:left;
    position:relative;
    top:-80px;
    min-height:500px;
    margin-left:-40px;
    z-index:1;
    position:relative;
    text-align:center;
    background-size:cover; 
    background-position:center;

    
}
.rcf-main{
    background-color:$brand-two;
    
    min-height:500px;
    width:100%;
}

.rcf-additional{
    text-align:left;
    margin-left:60px;
    background-color: $brand-five;
}

.rcf-additional h2{
    background-color: $brand-five;
    color:#fff;
    font-size:200%;
    padding:20px;
    font-weight:600;
}

.rcf-additional li{
    font-size:130%;
    color:#fff;
    padding-bottom:10px;
    position:relative;
    margin-left:50px;

}


.rcf-additional li:before{
    content: "\e013";
    font-family: Glyphicons Halflings;
    left: -32px;
    position: absolute;
    color: #45cd9f;
    top: 2px;
    font-size:100%
}


.rcf-additional ul{
    
    padding:20px 20px 20px 0px;
    position:relative;
    list-style:none;
}


.rcf-additional p{
  padding:10px
}


