footer ul{
    
    width:25%;
    float:left;
    list-style:none;
}

footer li{
    color:#fff;
    font-size:120%;

}

.footer-heading{
    font-size:120%;
    font-weight:bold;
    padding-bottom:5px;
}

footer .container,
footer .footer-fill{    
    background-color:$brand-one;
}
footer svg{
    display:block;
}

footer .container
{padding-top:40px;
padding-bottom:30px;}

