.banner-graphic{
    /*background-image:url("../images/pooleBanner.jpg");
    */
    background-image:url(../images/pooleBanner.jpg);
    background-size:cover;    

}

.banner-graphic.solid-color{
    /*background-image:url("../images/pooleBanner.jpg");
    */
    background-color:#8a71b8;
    background-image:none;
    background-size:cover;    

}

.glyphicon-menu-hamburger{
    cursor:pointer;
    z-index:3;
}



.page-header span.title{

background-color:#00caff;

margin:5px;
    color:#fff;
    text-decoration:none;
font-family: 'Open Sans', sans-serif;
font-weight:800;
font-size:450%;
display:inline-block;
padding:10px;
float:left;
}

.banner-graphic .page-header{
    padding-bottom:120px;
}

.page-header .title.one{background-color:$brand-five;}
.page-header .title.two{background-color:$brand-two;}
.page-header .title.three{background-color:$brand-three;} 

.page-header h1{


margin:5px;
    color:#fff;
    text-decoration:none;
font-family: 'Open Sans', sans-serif;
font-weight:800;
font-size:450%;
display:inline-block;
padding:10px;
float:left;
}


.page-header .subtitle{

display:inline-block;
padding:0px;
margin-top:-5px;
float:left;
margin:5px;


}
.page-header .subtitle-text{

background-color:#fff;
padding:10px 20px;
display:block;
font-size:130%;

margin: 0 0px 10px 0px;
color:#38829B;



}


.page-header{
    
    border-bottom:none;
    margin-top:5px;
    padding-bottom:40px;
    overflow:hidden;
    box-sizing:border-box;
    position:relative;
    z-index:2;

} 

.search .page-header{
    overflow:visible;
    margin-bottom:40px;
    padding-bottom:0px;
}

.page-header_content{
    float:left;
    box-sizing:border-box;

    max-width:50%;

}

.banner nav{
    border:none;
    background:none;
}

.banner nav span{
    font-size:250%;
    color:#fff;
    float:right;
    padding:10px;
    }

 .main-graphic{
    box-sizing:border-box;
    float:right;
    width:50%;
    padding:80px;
 }   

 .page-header p{
    clear:both;
    float:left;
    background-color:#ffffff;
    color:#0c4d72;
    padding:5px 10px;

 }
.search .page-header p{

    clear:none;
    padding:7px;
}

.web-proc{
    clear:both;
    padding:5px;
}


 .clearfix{
    clear:both;
 }